    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" >Rakino Ratepayers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% assign pages = site.pages | sort:"topnav"  %}
                {% for node in pages %}
                    {% if node.topnav > 0 %}
                        <li {% if page.url == node.url %}class="active"{% endif %}>
                            <a href="{% if node.url =='/index.html' %}/{% else %}{{node.url}}{% endif %}">
                                {% unless node.title %}Home{% endunless %}{{node.title}}
                            </a>
                        </li>
                    {% endif %}         
                {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" >
                      <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          Transport <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu active">
                        <li>
                          <a href="http://www.belaire.co.nz/rakino/" 
                            onclick="trackOutboundLink('http://www.belaire.co.nz/rakino/'); return false;">
                            Belaire Ferries <span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                        <li>
                          <a href="http://www.facilitator.co.nz/" 
                            onclick="trackOutboundLink('http://www.facilitator.co.nz/'); return false;">
                            Facilitator Barge<span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                        <li>
                          <a href="http://www.sealink.co.nz/rakino-island" 
                            onclick="trackOutboundLink('http://www.sealink.co.nz/rakino-island'); return false;">
                            Sealink Barge <span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                        <li>
                          <a href="http://aucklandseashuttles.co.nz/trips-and-services/scheduled-water-taxi-departures"
                            onclick="trackOutboundLink('http://aucklandseashuttles.co.nz/trips-and-services/scheduled-water-taxi-departures'); return false;">
                            Auckland Sea Shuttles <span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                        <li>
                          <a href="https://haurakiexpress.co.nz"
                            onclick="trackOutboundLink('https://haurakiexpress.co.nz'); return false;">
                            Hauraki Express <span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                        <li>
                          <a href="http://www.inflitecharters.com/auckland-attractions-Inflite-experiences"
                            onclick="trackOutboundLink('http://www.inflitecharters.com/auckland-attractions-Inflite-experiences'); return false;">
                            Helicopter <span class="glyphicon glyphicon-share-alt"></span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
